.slideshow {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 372px;
    background-color: #123;
    border: 1px solid #789;
}

.pic-container {
    position: relative;
    top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
    background-color: #456;
}

img {
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    object-fit: cover;
}

.left-arrow {
    position: relative;
    float: left;
    left:1%;
    top: -206px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 25px solid rgba(17, 243, 194, 0.342);
    border-bottom: 35px solid transparent;
}

.right-arrow {
    float: right;
    position: relative;
    right:1%;
    top:-206px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 25px solid rgba(17, 243, 194, 0.342);
    border-bottom: 35px solid transparent;
}


#dot{
    position: relative;
    top: 20px;
    height: 19px;
    margin: auto;
    width: 238px;
    /* background-color: #fff; */
}

#dot > li{
    margin-left: 10px;
    display: inline-block;
    /* float: left; */
    /* 这里改变display属性即可 */
    /* 不同定位的不同float基准不一样， */
    /* 不用使用浮动，不同定位属性的float基准相互独立 */
    /* 左右浮动的基准也相互独立，如果操作边界处的float移动，那么其余部分的元素都会跟着移动 */
    width:15px;
    height:15px;
    background-color: #9400d3;
    border-radius: 15px;
}